/* ================================

    Css index
    ---------
    1. common css
    2. header section
    3. Side menu design
    4. Blog section design
    5. Footer section design
    6. Upcoming Match page design


================================= */
/* =================================

    1. common css

================================= */
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1280px;
    margin: 50px 0;
}

.btn {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    background: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
    display: inline-block;
}

/* =================================

    2. Header section

================================= */
.header-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    background-color: #000;
    padding: 30px;
    padding-left: 70px;
    border-radius: 30px;
}

.header-text-box {
    color: #FFFFFF;
}

.header-title {
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 30px;
}

.header-description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.header-img img {
    width: 570px;
    position: relative;
    bottom: -35px;
}

/* some Animation in header*/
@keyframes left-right-movement {
    0% {
        transform: translate(0px);
    }

    100% {
        transform: translate(15px);
    }
}

.btn {
    position: relative;
    animation: left-right-movement 1.12s ease-in-out infinite alternate;
}

/* alternate */

/* =================================

    3. Side menu design

================================= */
.blogs-and-menu-container {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
}

.menu-container {
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-item {
    background: #FFFFFF;
    padding: 25px 0;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.active-effect {
    background: #DD0000;
    color: #FFFFFF;
}

/* =================================

    4. Blog section design

================================= */
.match-container,
.blogs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    width: 100%;
}

.match-item,
.blog-item {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
}
.blog-img-part {
    border-radius: 40px;
}
.blog-img-part img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.blog-text-part {
    padding: 20px;
}

.blog-topic {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.blog-topic span {
    border: 1px solid;
    padding: 3px 7px;
    border-radius: 5px;
}

.blog-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.blog-time,
.blog-comments {
    display: inline-block;
    color: rgba(22, 22, 22, 0.7);
}

.blog-time {
    margin-right: 30px;
}

.margin-r-5 {
    margin-right: 5px;
}

.view-all-btn-container {
    margin-top: 60px;
    text-align: center;
}

.view-all-btn {
    visibility: hidden;
}

/* =================================

    5. Footer section design

================================= */
footer {
    background: #161616;
    height: 444px;
    width: 100%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 1280px;
}

.footer-title {
    font-weight: 600;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-items {
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

.footer-icon {
    display: flex;
    column-gap: 30px;
    margin: 30px 0;
}

.footer-icon a {
    color: #DD0000;
    font-size: 20px;
}

/* =================================

    6. Upcoming Match page design

================================= */
.match-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 22px;
}

.flags {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flags span {
    margin: 0 11px;
}

/* =================================

    7. Responsive design

================================= */
/* for mobile devices */
@media only screen and (max-width: 576px) {
    .container {
        width: 90%;
    }

    .header-grid-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 30px;
    }

    .header-text-box {
        text-align: center;
    }

    .header-title {
        font-size: 40px;
    }

    .header-img img {
        width: 100%;
        position: relative;
        bottom: -35px;
    }

    .blogs-and-menu-container {
        flex-direction: column;
        row-gap: 24px;
        align-items: center;
    }

    .menu-container {
        background: #FFFFFF;
    }

    .menu-item {
        border: 1px solid #E8E8E8;
    }

    .match-container,
    .blogs-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .view-all-btn {
        visibility: hidden;
    }

    footer {
        height: auto;
    }

    .footer-items p {
        margin: 0;
    }

    .footer-items {
        flex-direction: column;
        row-gap: 24px;
        align-items: center;
    }

}

/* for tablet devices */
@media only screen and (min-width: 577px) and (max-width: 992px) {
    .container {
        width: 90%;
    }

    .header-grid-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 30px;
    }

    .header-text-box {
        text-align: center;
    }

    .header-title {
        font-size: 50px;
    }

    .header-img img {
        width: 100%;
        position: relative;
        bottom: -35px;
    }

    .blogs-and-menu-container {
        flex-direction: column;
        row-gap: 24px;
        align-items: center;
    }

    .menu-container {
        background: #FFFFFF;
        flex-direction: row;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        column-gap: 24px;
    }

    .menu-item {
        border: 1px solid #E8E8E8;
        width: 230px;
    }

    .match-container,
    .blogs-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .view-all-btn {
        visibility: visible;
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
        background: #DD0000;
        border-radius: 5px;
        padding: 16px 25px;
        display: inline-block;
    }

    .footer-item {
        text-align: center;
    }

    .footer-items {
        width: 75%;
        flex-wrap: wrap;
    }

}

/* for laptop devices */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .container {
        width: 90%;
    }

    .header-grid-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;
    }

    .header-text-box {
        text-align: center;
    }

    .header-title {
        font-size: 60px;
    }

    .header-img img {
        width: 100%;
        position: relative;
        bottom: -170px;
    }

    .match-container,
    .blogs-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* for desktop devices */
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
    .container {
        width: 90%;
    }

    .header-grid-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;
    }

    .header-text-box {
        text-align: center;
    }

    .header-title {
        font-size: 60px;
    }

    .header-img img {
        width: 100%;
    }

    .match-container,
    .blogs-container {
        grid-template-columns: repeat(3, 1fr);
    }
}