/* ================================

    Css index
    ---------
    1. common css
    2. header section
    3. Side menu design
    4. Blog section design
    5. Footer section design
    6. Upcoming Match page design


================================= */
/* =================================

    1. common css

================================= */
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  background-color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Reusable Style */
.container {
  width: 1321px;
  margin: 50px 0;
}

.btn {
  text-decoration: none;
  font-weight: 400;
  font-size: 200%;
  color: #FFFFFF;
  background: #DD0000;
  border-radius: 5px;
  padding: 16px 25px;
  display: inline-block;
}


/* =================================

    2. Header section

================================= */
.header-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 60px;
  background-color: #000;
  padding: 30px;
  padding-left: 70px;
  border-radius: 30px;
}

.header-text-box {
  color: #FFFFFF;
}

.header-title {
  font-weight: 700;
  font-size: 700%;
  margin-bottom: 30px;
}

.header-description {
  font-size: 160%;
  font-weight: 400;
  margin-bottom: 30px;
}

.header-img {
  position: relative;
}

.header-img img {
  width: 570px;
  position: absolute;
  bottom: -30px;
}

/* =================================

    3. Side menu design

================================= */
.blogs-and-menu-container {
  display: flex;
}

.menu-container {
  width: 312px;
  height: 312px;
  background: #161616;
  border-radius: 10px;
  padding: 30px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-item {
  background: #FFFFFF;
  padding: 25px 0;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
  text-align: center;
  font-weight: 500;
  font-size: 200%;
}

.active-effect {
  background: #DD0000;
  color: #FFFFFF;
}

/* =================================

    4. Blog section design

================================= */
.match-container,
.blogs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  width: 100%;
}

.match-item,
.blog-item {
  border: 1px solid #E8E8E8;
  border-radius: 10px;
  box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
}

.blog-img-part img {
  width: 100%;
}

.blog-text-part {
  padding: 20px;
}

.blog-topic {
  font-size: 160%;
  font-weight: 500;
  margin-bottom: 15px;
}

.blog-topic span {
  border: 1px solid;
  padding: 3px 7px;
  border-radius: 5px;
}

.blog-title {
  font-size: 160%;
  font-weight: 500;
  margin-bottom: 15px;
}

.blog-time,
.blog-comments {
  display: inline-block;
  color: rgba(22, 22, 22, 0.7);
}

.blog-time {
  margin-right: 30px;
}

.margin-r-5 {
  margin-right: 5px;
}

/* =================================

    5. Footer section design

================================= */
footer {
  background: #161616;
  height: 444px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer-title {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 400%;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-items {
  width: 898px;
  display: flex;
  justify-content: center;
  column-gap: 40px;
}

.footer-item p {
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
  font-size: 160%;
}

/* =================================

    6. Upcoming Match page design

================================= */
.match-container {
  grid-template-rows: 242px;
}

.match-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 22px;
}

.flags {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flags span {
  margin: 0 11px;
}

/* =================================

    7. Responsive design

================================= */
/* for mobile devices */
@media only screen and (max-width: 576px) {

  .container {
    width: 90%;
  }

  .header-grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-left: 30px;
  }

  .header-text-box {
    text-align: center;
  }
  .header-title {
    font-size: 560%;
  }
  .header-description p {
    margin: auto;
    width: 90%;
    height: 3em;
    overflow: hidden;
  }

  .header-img img {
    width: 90%;
    left: 10%;
    bottom: -30px;
  }

  .blogs-and-menu-container {
    flex-direction: column;
    align-items: center;
  }

  .menu-container {
    background: #FFFFFF;
  }

  .menu-item {
    border: 1px solid #E8E8E8;
  }

  .blogs-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-items {
    flex-direction: column;
  }
  .footer-item p {
    font-size: 110%;
  }
  .match-container {
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(6,242px);
  }
  .match-item {
    font-size: 160%;
  }
}